.skills {
    padding: 3rem 0rem 3rem;
    background-color: var(--background-secondary);

    h2 {
        font-size: 30px;
        font-weight: bold;
    }

    .skills_wrapper {
        .skills_frontend,
        .skills_backend {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 1rem 0;
            position: relative;
            margin-top: 3rem;
            padding: 1.5rem;
            background-color: var(--background);
            border: 1px solid #3d3d3d;
            border-radius: 5px;

            .skills_badge {
                position: absolute;
                background-color: var(--blue);
                padding: 0.5rem 3rem;
                border-radius: 6px;
                top: -17.9px;
                right: 40px;
            }
            p {
                margin-top: 2rem;
                font-weight: bold;
            }

            ul {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 2rem 1rem;
                margin-top: 2rem;

                > * {
                    display: flex;
                    align-items: center;
                    gap: 0 1rem;
                }
            }

            img {
                width: 20px !important;
            }

            .skills_frontend__framework {
                margin-top: 2rem;
            }
        }

        .skills_backend {
            .skills_badge {
                right: initial;
                left: 40px;
            }
        }
    }
}
@media screen and (min-width: 465px) {
    .skills {
        .skills_wrapper {
            .skills_frontend,
            .skills_backend {
                img {
                    width: 24px !important;
                }
                ul {
                    grid-template-columns: repeat(3, 1fr);
                }
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .skills {
        h2 {
            font-size: 36px;
        }
        .skills_wrapper {
            .skills_frontend,
            .skills_backend {
                ul {
                    grid-template-columns: repeat(3, 1fr);
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .skills {
        .skills_wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0 3rem;

            .skills_frontend,
            .skills_backend {
                img {
                    width: 36px !important;
                }
            }

            .skills_backend {
                .skills_badge {
                    right: 40px;
                    left: initial;
                }
            }
        }
    }
}
